<div *ngIf="recipeData">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{recipeData.name}}</mat-card-title>
      <mat-card-subtitle>{{recipeData.category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{recipeData.url}}" alt="">
    <mat-card-content>
      <p>{{recipeData.description}}</p>
    </mat-card-content>
    <div>
         <mat-card-content>
          <span *ngFor="let recipe of recipeData.ingredients"></span>
         </mat-card-content>
    </div>

    <mat-card-actions>
        <button (click)="select()">
          Dettagli
        </button>



    </mat-card-actions>
  </mat-card>

</div>
