<div *ngIf="recipe">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{recipe.name}}</mat-card-title>
      <mat-card-subtitle>{{recipe.category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{recipe.url}}" alt="">
    <mat-card-content>
      <p>{{recipe.description}}</p>
    </mat-card-content>
    <div>
         <mat-card-content>
          <span *ngFor="let recipe of recipe.ingredients"></span>
         </mat-card-content>
    </div>

    <mat-card-actions>
      <button (click)="delete(recipe.id!)" mat-button>Elimina ricetta</button>
      <button mat-button>Modifica ricetta</button>
    </mat-card-actions>
  </mat-card>

</div>
